<h1 class="center">Goodbye World!!</h1>
<h3 class="center">別れたカップルのLINEスクショ投稿サイトです</h3>

<div class="center mg-b">
  <button type="button" class="btn btn-success">
    <%= link_to '投稿する',new_image_url, class: "clrW"%>
  </button>
</div>
<% @images.each do |i| %>
  <div class="image_contents">
    <div class="image-title">
      <p><%= i.name %></p>
    </div>
    <img class="image" src = <%= i.image %>>
    <div class="contents">
      <p>どちらが悪い？</p>
      <span>
        <button type="button" class="btn btn-primary">
          <%= link_to '男',judges_path(judge:{image_id:i.id, gender:0}), method: :post, class: "clrW"%>
        </button>
        <span><%= i.vote_to_male.count %></span>
        <button type="button" class="btn btn-primary">
          <%= link_to '女',judges_path(judge:{image_id:i.id, gender:1}), method: :post, class: "clrW" %>
        </button>
        <span><%= i.vote_to_female.count %></span>
      </span>
    </div>
  </div>
<% end %>
